body {
  max-width: 90%;
  margin: 0 auto;
  background:-moz-linear-gradient(120deg,#6BB05F,#5D95B0)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-wrap: break-word;
  /* background-image: url(https://i.pinimg.com/originals/30/41/e9/3041e97360419e1b970490b1a35f8239.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right, 0px 0px; */
}
blockquote, p {
  font-family: serif;
  color: #1B0E33;
  font-size: 20px;
  letter-spacing: 1.25px;

}
blockquote {
  max-width: 50%;
  font-size: 26px;
  background-color: #f1f1f1;
  border-left: 3px solid;
  padding: 20px;
  margin: 80px auto;
}

.farmer {
  font-style: italic;
  border-left: 3px solid green;
  display: inline-block;
  background-color: #e4e4e4;
  margin-left: 15px;
}
.villagers{
  font-style: italic;
  border-left: 3px solid blue;
  display: inline-block;
  background-color: #e4e4e4;
  margin-left: 15px;
}

a:hover {color: #427F8A;}
a:visited {color: #7F7F81;}

caption {
  font-weight: bold;
}
table {
  border: 0.5px solid;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: white;
}
tr:nth-child(odd) {
  background-color: lightgrey;
}
td {
  padding: 5px;
}
td{
  border-left: 1px solid black;
}
